.containers {

    width: 100%;
    


}

@media screen and (max-width: 700px) {
    .containers {
        overflow: scroll;
    }
}



.table-custom {
    margin-bottom: 0;
    border-radius: 10px;
}


.th-custom {
    padding: 16px 24px;
    text-align: center;

    vertical-align: middle;
    width: 20%;

    background-color: #f8f9fa;

}


/* .td-custom {
    padding: 16px 20px;
    vertical-align: middle;
    width: 20%;

} */

/* 
.dropdown_btn {
    border: none;
    background-color: #007AFF;

} */

.thead-secondary {
    background-color: #f8f9fa;
}

.table-secondary {
    background-color: #e9ecef;
}


.dropdown-menu {
    min-width: 100px;
}

/* .action-btn {
    background-color: #007AFF;
} */